In [1]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [2]:
s1 | s2

{1, 2, 3, 4}

In [3]:
s1 & s2

{2, 3}

In [4]:
s1 - s2

{1}

In [5]:
s2 - s1

{4}

In [6]:
d1 = {'a': 1, 'b': 2, 'c': 3}

In [7]:
d2 = dict(zip('cde', [30, 4, 5]))

In [8]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [9]:
d2

{'c': 30, 'd': 4, 'e': 5}

In [10]:
for key in d1:
    print(key)

a
b
c

In [11]:
for key in d1.keys():
    print(key)

a
b
c

In [12]:
for value in d1.values():
    print(value)

1
2
3

In [13]:
list(d2.values())

[30, 4, 5]

In [14]:
for item in d1.items():
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [15]:
for key, value in d1.items():
    print(key, value)

a 1
b 2
c 3

In [16]:
keys = d1.keys()

In [17]:
list(keys)

['a', 'b', 'c']

In [18]:
list(keys)

['a', 'b', 'c']

In [19]:
d1['d'] = 4

In [20]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [21]:
list(keys)

['a', 'b', 'c', 'd']

In [22]:
list(d1.keys())

['a', 'b', 'c', 'd']

In [23]:
list(d1.values())

[1, 2, 3, 4]

In [24]:
list(d1.items()) == list(zip(d1.keys(), d1.values()))

True

In [25]:
print(d1)
print(d2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'c': 30, 'd': 4, 'e': 5}

In [26]:
del d1['d']

In [27]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [29]:
print(type(d1.keys()), d1.keys())
print(type(d2.keys()), d2.keys())

<class 'dict_keys'> dict_keys(['a', 'b', 'c'])
<class 'dict_keys'> dict_keys(['c', 'd', 'e'])

In [30]:
union = d1.keys() | d2.keys()

In [31]:
union

{'a', 'b', 'c', 'd', 'e'}

In [32]:
type(union)

set

In [33]:
print(union)

{'e', 'b', 'c', 'd', 'a'}

In [34]:
list(union)

['e', 'b', 'c', 'd', 'a']

In [35]:
d1.keys() & d2.keys()

{'c'}

In [36]:
d1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [37]:
d1.items() | d2.items()

{('a', 1), ('b', 2), ('c', 3), ('c', 30), ('d', 4), ('e', 5)}

In [38]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [39]:
d2

{'c': 30, 'd': 4, 'e': 5}

In [40]:
d2['c'] = 3

In [41]:
d2

{'c': 3, 'd': 4, 'e': 5}

In [42]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [43]:
d1.items() | d2.items()

{('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)}

In [44]:
d1.values()

dict_values([1, 2, 3])

In [45]:
d2.values()

dict_values([3, 4, 5])

In [46]:
d1.values() | d2.values()

TypeError: unsupported operand type(s) for |: 'dict_values' and 'dict_values'

In [47]:
d3 = {'a': [1, 2], 'b': [3, 4]}
d4 = {'b': [30, 40], 'c': [5, 6]}

In [48]:
d3.items()

dict_items([('a', [1, 2]), ('b', [3, 4])])

In [49]:
hash(('a', [1, 2]))

TypeError: unhashable type: 'list'

In [51]:
hash(('b', 4))

-6809907221635735863

In [52]:
d3.items() | d4.items()

TypeError: unhashable type: 'list'

In [53]:
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'b': 2, 'c': 30, 'd': 4}

In [54]:
k1 = d1.keys()
k2 = d2.keys()

In [55]:
k1 & k2

{'b', 'c'}

In [57]:
new_dict = {}
for key in d1.keys() & d2.keys():
    new_dict[key] = d1[key], d2[key]

In [58]:
new_dict

{'b': (2, 2), 'c': (3, 30)}

In [59]:
new_dict = {key: (d1[key], d2[key]) for key in d1.keys() & d2.keys()}
new_dict

{'b': (2, 2), 'c': (3, 30)}

In [60]:
d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'b': 2, 'c': 30, 'd': 4}

In [61]:
new_dict = {}
for key in d1.keys() & d2.keys():
    new_dict[key] = d2[key]

In [64]:
d1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
d2 = {'a': 10, 'b': 20, 'c': 30, 'e': 5}

In [65]:
union = d1.keys() | d2.keys()
union

{'a', 'b', 'c', 'd', 'e'}

In [66]:
intersection = d1.keys() & d2.keys()
intersection

{'a', 'b', 'c'}

In [67]:
union - intersection

{'d', 'e'}

In [68]:
d1.keys() ^ d2.keys()

{'d', 'e'}

In [69]:
d1.get('d')

4

In [70]:
d2.get('d')

In [71]:
d1.get('d') or d2.get('d')

4

In [72]:
d1.get('e') or d2.get('e')

5

In [73]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [74]:
d2

{'a': 10, 'b': 20, 'c': 30, 'e': 5}

In [75]:
union = d1.keys() | d2.keys()
union

{'a', 'b', 'c', 'd', 'e'}

In [76]:
intersection = d1.keys() & d2.keys()
intersection

{'a', 'b', 'c'}

In [77]:
keys = union - intersection
keys

{'d', 'e'}

In [78]:
result = {}
for key in keys:
    result[key] = d1.get(key) or d2.get(key)

In [79]:
result

{'d': 4, 'e': 5}

In [80]:
result = {}
for key in d1.keys() ^ d2.keys():
    result[key] = d1.get(key) or d2.get(key)
result

{'d': 4, 'e': 5}

In [81]:
{key: d1.get(key) or d2.get(key) for key in d1.keys() ^ d2.keys()}

{'d': 4, 'e': 5}