In [1]:
def process(s):
    print('Initial s # = {}'.format(id(s)))
    s = s + ' world'
    print('Final s # = {}'.format(id(s)))
    return s

In [2]:
my_var = 'hello'
print('my_var # = {}'.format(id(my_var)))

my_var # = 140490671501104

In [3]:
process(my_var)

Initial s # = 140490671501104
Final s # = 140491473461040

'hello world'

In [4]:
id(my_var)

140490671501104

In [5]:
def modify_list(lst):
    print('Initial lst # = {}'.format(id(lst)))
    lst.append(100)
    print('Final lst # = {}'.format(id(lst)))
    return lst

In [6]:
my_list = [1, 2, 3]
id(my_list)

140491473443072

In [7]:
modify_list(my_list)

Initial lst # = 140491473443072
Final lst # = 140491473443072

[1, 2, 3, 100]

In [8]:
id(my_list)

140491473443072

In [9]:
my_list

[1, 2, 3, 100]

In [10]:
def modify_tuple(t):
    print('Initial t # = {}'.format(id(t)))
    t = t + (100,)
    print('Final t # = {}'.format(id(t)))
    return t

In [11]:
t = (1, 2, 3)

In [12]:
id(t)

140491473205888

In [13]:
modify_tuple(t)

Initial t # = 140491473205888
Final t # = 140491473470944

(1, 2, 3, 100)

In [19]:
def modify_tuple(t):
    print('Initial t # = {}'.format(id(t)))
    t[0].append(100)
    print('Final t # = {}'.format(id(t)))
    return t

In [20]:
t = ([1], 2, 3)

In [21]:
id(t)

140491473205568

In [22]:
modify_tuple(t)

Initial t # = 140491473205568
Final t # = 140491473205568

([1, 100], 2, 3)