In [1]:
from datetime import datetime

In [7]:
print(datetime.now())

2024-08-20 15:03:48.259224

In [8]:
print(datetime.now())

2024-08-20 15:03:48.674818

In [15]:
def log(msg, dt=datetime.now()):
    print(f'{dt}: {msg}')

In [11]:
log('message 1', dt = '2021-01-01 00:00:00')

2021-01-01 00:00:00: message 1

In [12]:
log('message 2')

2024-08-20 15:04:17.004307: message 2

In [13]:
log('message 3')

2024-08-20 15:04:17.004307: message 3

In [14]:
log('message 4')

2024-08-20 15:04:17.004307: message 4

In [16]:
log('message 5')

2024-08-20 15:04:57.069631: message 5

In [17]:
def log(msg, dt=None):
    dt = dt or datetime.now()
    print(f'{dt}: {msg}')

In [18]:
log('message 1', dt = '2021-01-01 00:00:00')

2021-01-01 00:00:00: message 1

In [19]:
log('message 2')

2024-08-20 15:05:53.185013: message 2

In [20]:
log('message 3')

2024-08-20 15:05:58.981785: message 3

In [21]:
log('message 4')

2024-08-20 15:06:08.282297: message 4

In [22]:
my_list = [1, 2, 3]
def func(a=my_list):
    print(a)

In [23]:
func()

[1, 2, 3]

In [24]:
func([4, 5, 6])

[4, 5, 6]

In [25]:
my_list.append(4)

In [26]:
my_list

[1, 2, 3, 4]

In [27]:
func()

[1, 2, 3, 4]

In [40]:
def add_item(name, quantity, unit, grocery_list):
    grocery_list.append(f'{name} ({quantity} {unit})')
    return grocery_list

In [41]:
store1 = []
store2 = []

In [42]:
add_item('banana', 2, 'units', store1)

['banana (2 units)']

In [43]:
add_item('milk', 1, 'liter', store1)

['banana (2 units)', 'milk (1 liter)']

In [44]:
print(store1)

['banana (2 units)', 'milk (1 liter)']

In [45]:
add_item('python', 1, 'medium-rare', store2)

['python (1 medium-rare)']

In [46]:
print(store2)

['python (1 medium-rare)']

In [47]:
def add_item(name, quantity, unit, grocery_list=[]):
    grocery_list.append(f'{name} ({quantity} {unit})')
    return grocery_list

In [48]:
del store1
del store2

In [49]:
store1

NameError: name 'store1' is not defined

In [50]:
store1 = add_item('banana', 2, 'units')
add_item('milk', 1, 'liter', store1)

['banana (2 units)', 'milk (1 liter)']

In [51]:
store2 = add_item('python', 1, 'medium-rare')

In [52]:
print(store1)

['banana (2 units)', 'milk (1 liter)', 'python (1 medium-rare)']

In [53]:
print(store2)

['banana (2 units)', 'milk (1 liter)', 'python (1 medium-rare)']

In [54]:
store1 is store2

True

In [55]:
def add_item(name, quantity, unit, grocery_list=None):
    grocery_list = grocery_list or []
    grocery_list.append(f'{name} ({quantity} {unit})')
    return grocery_list

In [56]:
store1 = add_item('banana', 2, 'units')
add_item('milk', 1, 'liter', store1)

['banana (2 units)', 'milk (1 liter)']

In [57]:
print(store1)

['banana (2 units)', 'milk (1 liter)']

In [58]:
store2 = add_item('python', 1, 'medium-rare')

In [59]:
print(store2)

['python (1 medium-rare)']

In [60]:
store1

['banana (2 units)', 'milk (1 liter)']

In [61]:
def factorial(n):
    if n < 1:
        return 1
    else:
        print(f'calculating {n}!')
        return n * factorial(n - 1)

In [62]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [63]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [65]:
def factorial(n, *, cache):
    if n < 1:
        return 1
    elif n in cache:
        return cache[n]
    else:
        print(f'calculating {n}!')
        result = n * factorial(n - 1, cache=cache)
        cache[n] = result
        return result

In [66]:
cache = {}

In [67]:
factorial(3, cache=cache)

calculating 3!
calculating 2!
calculating 1!

6

In [68]:
factorial(3, cache=cache)

6

In [69]:
print(cache)

{1: 1, 2: 2, 3: 6}

In [70]:
factorial(4, cache=cache)

calculating 4!

24

In [75]:
def factorial(n, cache={}):
    if n < 1:
        return 1
    elif n in cache:
        return cache[n]
    else:
        print(f'calculating {n}!')
        result = n * factorial(n - 1)
        cache[n] = result
        return result

In [76]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [77]:
factorial(3)

6

In [78]:
factorial(4)

calculating 4!

24

In [79]:
factorial(4)

24

In [80]:
factorial(5)

calculating 5!

120