In [1]:
l = [1, 2, 3, 4, 5, 6]

In [2]:
a = l[0]
b = l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [3]:
a,b = l[0], l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [4]:
a, *b = l
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [5]:
s = {1, 2, 3, 4, 5, 6}
a = s[0]
b = s[1:]
print(a)
print(b)

TypeError: 'set' object is not subscriptable

In [6]:
s = 'python'

In [7]:
a, *b = s
print(a)
print(b)

p
['y', 't', 'h', 'o', 'n']

In [8]:
t = ('a', 'b', 'c', 'd', 'e')

In [9]:
a, *b = t
print(a)
print(b)

a
['b', 'c', 'd', 'e']

In [10]:
[a, b, c] = 'XYZ'

In [11]:
a

'X'

In [12]:
b

'Y'

In [13]:
c

'Z'

In [14]:
a, b, *c = 'python'

In [15]:
print(a)
print(b)
print(c)

p
y
['t', 'h', 'o', 'n']

In [16]:
a, b, *c, d = 'python'
print(a)
print(b)
print(c)
print(d)

p
y
['t', 'h', 'o']
n

In [17]:
s = 'python'

In [18]:
a, b, c, d = s[0], s[1], s[2:-1], s[-1]
print(a)
print(b)
print(c)
print(d)

p
y
tho
n

In [19]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l = [*l1, *l2]
print(l)

[1, 2, 3, 4, 5, 6]

In [20]:
l1 = [1, 2, 3]
s = 'abc'
l = [*l1, *s]
print(l)

[1, 2, 3, 'a', 'b', 'c']

In [21]:
l1 = [1, 2, 3]
s1 = {'x', 'y', 'z'}
l = [*l1, *s1]
print(l)

[1, 2, 3, 'z', 'y', 'x']

In [22]:
s1 = 'abc'
s2 = 'cde'
s = [*s1, *s2]
print(s)

['a', 'b', 'c', 'c', 'd', 'e']

In [23]:
{*s1, *s2}

{'a', 'b', 'c', 'd', 'e'}

In [24]:
s = {10, -99, 3, 'd'}
for c in s:
    print(c)

d
10
3
-99

In [25]:
a, b, c, d = s
print(a)
print(b)
print(c)
print(d)

d
10
3
-99

In [30]:
a, b, *c = s
print(a)
print(b)
print(c)

d
10
[3, -99]

In [31]:
s

{-99, 10, 3, 'd'}

In [32]:
list(s)

['d', 10, 3, -99]

In [33]:
*c, = s
print(c)

['d', 10, 3, -99]

In [35]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s = {*s1, *s2}
print(s)

{1, 2, 3, 4, 5}

In [36]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [37]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}
s4 = {7, 8, 9}
s1.union(s2, s3, s4)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
{*s1, *s2, *s3, *s4}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
[*s1, *s2, *s3, *s4]

[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 7]

In [41]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 4}
d = {*d1, *d2}
print(d)

{'key2', 'key3', 'key1'}

In [42]:
d = {**d1, **d2}
print(d)

{'key1': 1, 'key2': 3, 'key3': 4}

In [43]:
{'a': 1, 'b': 2, **d1, **d2}

{'a': 1, 'b': 2, 'key1': 1, 'key2': 3, 'key3': 4}

In [44]:
{'a': 1, 'b': 2, **d1, 'c': 3, **d2}

{'a': 1, 'b': 2, 'key1': 1, 'key2': 3, 'c': 3, 'key3': 4}

In [45]:
a, b, e = [1, 2, 'XY']
print(a)
print(b)
print(e)

1
2
XY

In [46]:
c, d = e
print(c)
print(d)

X
Y

In [47]:
a, b, (c, d) = [1, 2, 'XY']
print(a)
print(b)
print(c)
print(d)

1
2
X
Y

In [48]:
a, b, (c, d, *e) = [1, 2, 'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
p
y
['t', 'h', 'o', 'n']

In [49]:
l = [1, 2, 3, 4, 'python']

In [50]:
a, *b, (c, d, *e) = l
print(a)
print(b)
print(c)
print(d)    
print(e)

1
[2, 3, 4]
p
y
['t', 'h', 'o', 'n']

In [52]:
l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])

(1, [2, 3, 4], 'p', 'y', ['t', 'h', 'o', 'n'])

In [53]:
l = [1, 2, 3, 4, ['a', 'b', 'c', 'd', 'e']]
a, *b, (c, d, *e) = l
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3, 4]
a
b
['c', 'd', 'e']

In [54]:
l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])

(1, [2, 3, 4], 'a', 'b', ['c', 'd', 'e'])