In [1]:
a = (1, 2, 3)

In [2]:
a

(1, 2, 3)

In [3]:
1, 2, 3

(1, 2, 3)

In [5]:
a = 1,2,3

In [6]:
type(a)

tuple

In [7]:
a = (1)

In [8]:
type(a)

int

In [9]:
a = (1,)

In [10]:
type(a)

tuple

In [11]:
a = 100,

In [12]:
type(a)

tuple

In [13]:
a

(100,)

In [14]:
a = ()

In [15]:
type(a)

tuple

In [16]:
a = ,

SyntaxError: invalid syntax (199967109.py, line 1)

In [17]:
a = (,)

SyntaxError: invalid syntax (344912633.py, line 1)

In [18]:
a = tuple()

In [19]:
type(a)

tuple

In [20]:
a, b, c = [1, 'a', 3.14]

In [21]:
a, b, c

(1, 'a', 3.14)

In [22]:
(a, b, c) = [1, 'a', 3.14]

In [23]:
a

1

In [24]:
b

'a'

In [25]:
c

3.14

In [26]:
a, b = (1, 2)

In [27]:
a

1

In [29]:
b

2

In [30]:
a, b = 10, 20

In [31]:
a

10

In [32]:
a, b, c = 10, 20, 30

In [33]:
a

10

In [34]:
b

20

In [35]:
c

30

In [36]:
a, b, c = 10, {1, 2}, ['a', 'b']

In [37]:
a

10

In [38]:
b

{1, 2}

In [39]:
c

['a', 'b']

In [49]:
a, b = 10, 20

In [50]:
print(a, b)

10 20

In [51]:
a, b = b, a

In [52]:
print(a, b)

20 10

In [53]:
for e in 'XYZ':
    print(e)

X
Y
Z

In [54]:
a, b, c = 'XYZ'

In [55]:
a

'X'

In [56]:
b

'Y'

In [57]:
c

'Z'

In [58]:
s = 'XYZ'

In [59]:
s[0]

'X'

In [60]:
s[1]

'Y'

In [61]:
s[2]

'Z'

In [62]:
s = {1, 2, 3}

In [63]:
s[0]

TypeError: 'set' object is not subscriptable

In [73]:
s = {'p', 'y', 't', 'h', 'o', 'n'}

In [74]:
print(s)

{'p', 'o', 't', 'n', 'h', 'y'}

In [75]:
for e in s:
    print(e)

p
o
t
n
h
y

In [76]:
a, b, c, d, e, f = s

In [77]:
a

'p'

In [78]:
b

'o'

In [79]:
c

't'

In [80]:
d

'n'

In [81]:
d = {'a': 1, 'b': 2, 'c': 3}

In [82]:
for e in d:
    print(e)

a
b
c

In [83]:
a, b, c = d

In [84]:
a

'a'

In [85]:
b

'b'

In [86]:
c

'c'

In [87]:
d

{'a': 1, 'b': 2, 'c': 3}

In [88]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [89]:
a, b, c, d = d

In [90]:
a

'a'

In [91]:
b

'b'

In [92]:
c

'c'

In [93]:
d

'd'

In [94]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [95]:
d, a, b, c = d

In [96]:
d

'a'

In [97]:
a

'b'

In [98]:
b

'c'

In [99]:
c

'd'

In [100]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [101]:
for e in d:
    print(e)

a
b
c
d

In [102]:
for e in d.values():
    print(e)

1
2
3
4

In [103]:
a, b, c, d = d.values()

In [104]:
a

1

In [105]:
b

2

In [106]:
c

3

In [107]:
d

4

In [111]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [113]:
for e in dict1.items():
    a, b = e
    print(f'key: {a}, value: {b}')

key: a, value: 1
key: b, value: 2
key: c, value: 3
key: d, value: 4

In [114]:
for a, b in dict1.items():
    print(f'key: {a}, value: {b}')

key: a, value: 1
key: b, value: 2
key: c, value: 3
key: d, value: 4