In [1]:
import itertools

In [3]:
with open('cars_2014.csv') as f:
    for row in itertools.islice(f, 0, 20):
        print(row, end='')

make,model
ACURA,ILX
ACURA,MDX
ACURA,RDX
ACURA,RLX
ACURA,TL
ACURA,TSX
ALFA ROMEO,4C
ALFA ROMEO,GIULIETTA
APRILIA,CAPONORD 1200
APRILIA,RSV4 FACTORY APRC ABS
APRILIA,RSV4 R APRC ABS
APRILIA,SHIVER 750
ARCTIC CAT,1000 XT
ARCTIC CAT,500 XT
ARCTIC CAT,550 XT
ARCTIC CAT,700 LTD
ARCTIC CAT,700 SUPER DUTY DIESEL
ARCTIC CAT,700 XT
ARCTIC CAT,90 2X4 4-STROKE

In [4]:
from collections import defaultdict

In [5]:
makes = defaultdict(int)

In [6]:
makes['sdfsdf']

0

In [7]:
makes['BMW'] += 1

In [9]:
makes['BMW']

1

In [13]:
makes = defaultdict(int)
with open('cars_2014.csv') as f:
    next(f)
    for row in f:
        make, _ = row.strip('\n').split(',')
        makes[make] += 1

In [14]:
for key, value in makes.items():
    print(f'{key}: {value}')

ACURA: 6
ALFA ROMEO: 2
APRILIA: 4
ARCTIC CAT: 96
ARGO: 4
ASTON MARTIN: 5
AUDI: 27
BENTLEY: 2
BLUE BIRD: 1
BMW: 86
BUGATTI: 1
BUICK: 5
CADILLAC: 7
CAN-AM: 61
CHEVROLET: 33
CHRYSLER: 2
DODGE: 7
DUCATI: 4
FERRARI: 6
FIAT: 2
FORD: 34
FREIGHTLINER: 7
GMC: 12
HARLEY DAVIDSON: 29
HINO: 7
HONDA: 91
HUSABERG: 4
HUSQVARNA: 9
HYUNDAI: 13
INDIAN: 3
INFINITI: 8
JAGUAR: 9
JEEP: 5
JOHN DEERE: 19
KAWASAKI: 59
KENWORTH: 11
KIA: 10
KTM: 13
KUBOTA: 4
KYMCO: 28
LAMBORGHINI: 2
LAND ROVER: 6
LEXUS: 14
LINCOLN: 6
LOTUS: 1
MACK: 9
MASERATI: 3
MAZDA: 5
MCLAREN: 2
MERCEDES-BENZ: 60
MINI: 3
MITSUBISHI: 8
NISSAN: 24
PEUGEOT: 3
POLARIS: 101
PORSCHE: 4
RAM: 6
RENAULT: 4
ROLLS ROYCE: 3
SCION: 5
SEAT: 3
SKI-DOO: 67
SMART: 1
SRT: 1
SUBARU: 10
SUZUKI: 48
TESLA: 2
TOYOTA: 19
TRIUMPH: 10
VESPA: 4
VICTORY: 14
VOLKSWAGEN: 16
VOLVO: 8
YAMAHA: 110

In [19]:
data = (1, 2, 2, 2, 3)

In [20]:
list(itertools.groupby(data))

[(1, <itertools._grouper at 0x1045f0580>),
 (2, <itertools._grouper at 0x1045f0f40>),
 (3, <itertools._grouper at 0x1045f0370>)]

In [21]:
it = itertools.groupby(data)
for group_key, sub_iter in it:
    print(group_key, list(sub_iter))

1 [1]
2 [2, 2, 2]
3 [3]

In [22]:
data = (
    (1, 'abc'),
    (1, 'bcd'),
    (2, 'pyt'),
    (2, 'tho'),
    (3, 'jav')
)

In [23]:
data

((1, 'abc'), (1, 'bcd'), (2, 'pyt'), (2, 'tho'), (3, 'jav'))

In [24]:
groups = itertools.groupby(data, key=lambda x: x[0])

In [25]:
list(groups)

[(1, <itertools._grouper at 0x10470ddb0>),
 (2, <itertools._grouper at 0x10470c2e0>),
 (3, <itertools._grouper at 0x10470c700>)]

In [26]:
list(groups)

[]

In [27]:
groups = itertools.groupby(data, key=lambda x: x[0])

In [28]:
for group_key, sub_iter in groups:
    print(group_key, list(sub_iter))

1 [(1, 'abc'), (1, 'bcd')]
2 [(2, 'pyt'), (2, 'tho')]
3 [(3, 'jav')]

In [29]:
def gen_groups():
    for key in range(1, 4):
        for i in range(3):
            yield (key, i)

In [30]:
g = gen_groups()

In [31]:
list(g)

[(1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2), (3, 0), (3, 1), (3, 2)]

In [32]:
list(g)

[]

In [33]:
g = gen_groups()

In [34]:
groups = itertools.groupby(g, key=lambda x: x[0])

In [35]:
for group in groups:
    print(group[0], group[1])

1 <itertools._grouper object at 0x10470cca0>
2 <itertools._grouper object at 0x10470dae0>
3 <itertools._grouper object at 0x10470e050>

In [36]:
list(g)

[]

In [37]:
g = gen_groups()

In [38]:
groups = itertools.groupby(g, key=lambda x: x[0])

In [39]:
for group_key, sub_iter in groups:
    print(group_key, list(sub_iter))

1 [(1, 0), (1, 1), (1, 2)]
2 [(2, 0), (2, 1), (2, 2)]
3 [(3, 0), (3, 1), (3, 2)]

In [40]:
makes

defaultdict(int,
            {'ACURA': 6,
             'ALFA ROMEO': 2,
             'APRILIA': 4,
             'ARCTIC CAT': 96,
             'ARGO': 4,
             'ASTON MARTIN': 5,
             'AUDI': 27,
             'BENTLEY': 2,
             'BLUE BIRD': 1,
             'BMW': 86,
             'BUGATTI': 1,
             'BUICK': 5,
             'CADILLAC': 7,
             'CAN-AM': 61,
             'CHEVROLET': 33,
             'CHRYSLER': 2,
             'DODGE': 7,
             'DUCATI': 4,
             'FERRARI': 6,
             'FIAT': 2,
             'FORD': 34,
             'FREIGHTLINER': 7,
             'GMC': 12,
             'HARLEY DAVIDSON': 29,
             'HINO': 7,
             'HONDA': 91,
             'HUSABERG': 4,
             'HUSQVARNA': 9,
             'HYUNDAI': 13,
             'INDIAN': 3,
             'INFINITI': 8,
             'JAGUAR': 9,
             'JEEP': 5,
             'JOHN DEERE': 19,
             'KAWASAKI': 59,
             'KENWORTH': 11,
             'KIA': 10,
             'KTM': 13,
             'KUBOTA': 4,
             'KYMCO': 28,
             'LAMBORGHINI': 2,
             'LAND ROVER': 6,
             'LEXUS': 14,
             'LINCOLN': 6,
             'LOTUS': 1,
             'MACK': 9,
             'MASERATI': 3,
             'MAZDA': 5,
             'MCLAREN': 2,
             'MERCEDES-BENZ': 60,
             'MINI': 3,
             'MITSUBISHI': 8,
             'NISSAN': 24,
             'PEUGEOT': 3,
             'POLARIS': 101,
             'PORSCHE': 4,
             'RAM': 6,
             'RENAULT': 4,
             'ROLLS ROYCE': 3,
             'SCION': 5,
             'SEAT': 3,
             'SKI-DOO': 67,
             'SMART': 1,
             'SRT': 1,
             'SUBARU': 10,
             'SUZUKI': 48,
             'TESLA': 2,
             'TOYOTA': 19,
             'TRIUMPH': 10,
             'VESPA': 4,
             'VICTORY': 14,
             'VOLKSWAGEN': 16,
             'VOLVO': 8,
             'YAMAHA': 110})

In [41]:
with open('cars_2014.csv') as f:
    make_groups = itertools.groupby(f, key=lambda x: x.split(',')[0])

In [42]:
for make, group in make_groups:
    print(make, len(list(group)))

ValueError: I/O operation on closed file.

In [43]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, key=lambda x: x.split(',')[0])
    print(list(itertools.islice(make_groups, 5)))

[('ACURA', <itertools._grouper object at 0x1045f0490>), ('ALFA ROMEO', <itertools._grouper object at 0x1045f05e0>), ('APRILIA', <itertools._grouper object at 0x1045f1180>), ('ARCTIC CAT', <itertools._grouper object at 0x1045f1210>), ('ARGO', <itertools._grouper object at 0x1045f11e0>)]

In [46]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, key=lambda x: x.split(',')[0])
    make_counts = ((key, len(list(models))) for key, models in make_groups)
    print(list(make_counts))

[('ACURA', 6), ('ALFA ROMEO', 2), ('APRILIA', 4), ('ARCTIC CAT', 96), ('ARGO', 4), ('ASTON MARTIN', 5), ('AUDI', 27), ('BENTLEY', 2), ('BLUE BIRD', 1), ('BMW', 86), ('BUGATTI', 1), ('BUICK', 5), ('CADILLAC', 7), ('CAN-AM', 61), ('CHEVROLET', 33), ('CHRYSLER', 2), ('DODGE', 7), ('DUCATI', 4), ('FERRARI', 6), ('FIAT', 2), ('FORD', 34), ('FREIGHTLINER', 7), ('GMC', 12), ('HARLEY DAVIDSON', 29), ('HINO', 7), ('HONDA', 91), ('HUSABERG', 4), ('HUSQVARNA', 9), ('HYUNDAI', 13), ('INDIAN', 3), ('INFINITI', 8), ('JAGUAR', 9), ('JEEP', 5), ('JOHN DEERE', 19), ('KAWASAKI', 59), ('KENWORTH', 11), ('KIA', 10), ('KTM', 13), ('KUBOTA', 4), ('KYMCO', 28), ('LAMBORGHINI', 2), ('LAND ROVER', 6), ('LEXUS', 14), ('LINCOLN', 6), ('LOTUS', 1), ('MACK', 9), ('MASERATI', 3), ('MAZDA', 5), ('MCLAREN', 2), ('MERCEDES-BENZ', 60), ('MINI', 3), ('MITSUBISHI', 8), ('NISSAN', 24), ('PEUGEOT', 3), ('POLARIS', 101), ('PORSCHE', 4), ('RAM', 6), ('RENAULT', 4), ('ROLLS ROYCE', 3), ('SCION', 5), ('SEAT', 3), ('SKI-DOO', 67), ('SMART', 1), ('SRT', 1), ('SUBARU', 10), ('SUZUKI', 48), ('TESLA', 2), ('TOYOTA', 19), ('TRIUMPH', 10), ('VESPA', 4), ('VICTORY', 14), ('VOLKSWAGEN', 16), ('VOLVO', 8), ('YAMAHA', 110)]

In [47]:
def squares(n):
    for i in range(n):
        yield i**2

In [48]:
sq = squares(5)

In [49]:
len(sq)

TypeError: object of type 'generator' has no len()

In [50]:
len(list(sq))

5

In [59]:
sq = squares(5)

In [60]:
i = 0
for i in sq:
    print(i)
    i += 1
i

0
1
4
9
16

17

In [61]:
def len_iterable(iterable):
    i = 0
    for _ in iterable:
        i += 1
    return i
len_iterable(squares(5))

5

In [62]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, key=lambda x: x.split(',')[0])
    make_counts = ((key, sum(1 for _ in models)) for key, models in make_groups)
    print(list(make_counts))

[('ACURA', 6), ('ALFA ROMEO', 2), ('APRILIA', 4), ('ARCTIC CAT', 96), ('ARGO', 4), ('ASTON MARTIN', 5), ('AUDI', 27), ('BENTLEY', 2), ('BLUE BIRD', 1), ('BMW', 86), ('BUGATTI', 1), ('BUICK', 5), ('CADILLAC', 7), ('CAN-AM', 61), ('CHEVROLET', 33), ('CHRYSLER', 2), ('DODGE', 7), ('DUCATI', 4), ('FERRARI', 6), ('FIAT', 2), ('FORD', 34), ('FREIGHTLINER', 7), ('GMC', 12), ('HARLEY DAVIDSON', 29), ('HINO', 7), ('HONDA', 91), ('HUSABERG', 4), ('HUSQVARNA', 9), ('HYUNDAI', 13), ('INDIAN', 3), ('INFINITI', 8), ('JAGUAR', 9), ('JEEP', 5), ('JOHN DEERE', 19), ('KAWASAKI', 59), ('KENWORTH', 11), ('KIA', 10), ('KTM', 13), ('KUBOTA', 4), ('KYMCO', 28), ('LAMBORGHINI', 2), ('LAND ROVER', 6), ('LEXUS', 14), ('LINCOLN', 6), ('LOTUS', 1), ('MACK', 9), ('MASERATI', 3), ('MAZDA', 5), ('MCLAREN', 2), ('MERCEDES-BENZ', 60), ('MINI', 3), ('MITSUBISHI', 8), ('NISSAN', 24), ('PEUGEOT', 3), ('POLARIS', 101), ('PORSCHE', 4), ('RAM', 6), ('RENAULT', 4), ('ROLLS ROYCE', 3), ('SCION', 5), ('SEAT', 3), ('SKI-DOO', 67), ('SMART', 1), ('SRT', 1), ('SUBARU', 10), ('SUZUKI', 48), ('TESLA', 2), ('TOYOTA', 19), ('TRIUMPH', 10), ('VESPA', 4), ('VICTORY', 14), ('VOLKSWAGEN', 16), ('VOLVO', 8), ('YAMAHA', 110)]