In [3]:
l = [5, 8, 6, 10, 9]

In [4]:
_max = lambda x, y: x if x > y else y

In [5]:
_max(10, 20)

20

In [6]:
def max_sequence(sequence):
    max_value = sequence[0]
    for x in sequence[1:]:
        max_value = _max(max_value, x)
    return max_value
max_sequence(l)

10

In [7]:
_min = lambda x, y: x if x < y else y

In [8]:
def min_sequence(sequence):
    min_value = sequence[0]
    for x in sequence[1:]:
        min_value = _min(min_value, x)
    return min_value
min_sequence(l)

5

In [9]:
_add = lambda x, y: x + y

In [10]:
def add_sequence(sequence):
    total = 0
    for x in sequence:
        total = _add(total, x)
    return total
add_sequence(l)

38

In [11]:
add_sequence(l)

38

In [12]:
def _reduce(fn, sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = fn(result, x)
    return result

In [13]:
_reduce(_add, l)

38

In [14]:
_reduce(_max, l)

10

In [15]:
_reduce(_min, l)

5

In [16]:
_reduce(_max, {1, 2, 3, 4})

TypeError: 'set' object is not subscriptable

In [17]:
from functools import reduce

In [18]:
reduce(_max, l)

10

In [19]:
reduce(_add, l)

38

In [20]:
reduce(_min, l)

5

In [21]:
reduce(_max, {1, 2, 3, 4})

4

In [22]:
min(l)

5

In [23]:
max(l)

10

In [24]:
sum(l)

38

In [25]:
sum({1, 2, 3, 4})

10

In [26]:
s = {True, 1, 0, None}

In [27]:
all(s)

False

In [28]:
any(s)

True

In [29]:
s2 = {1, 2, 3, 4}

In [30]:
all(s2)

True

In [31]:
s3 = {0, False, None}

In [32]:
any(s3)

False

In [33]:
all(s)

False

In [34]:
reduce(lambda a,b: bool(a) and bool(b), s)

False

In [35]:
reduce(lambda a,b: bool(a) or bool(b), s)

True

In [36]:
reduce(lambda a,b: bool(a) and bool(b), s2)

True

In [37]:
l = [5, 8, 6, 10, 9]

In [38]:
5 * 8 * 6 * 10 * 9

21600

In [39]:
reduce(lambda a,b: a*b, l)

21600

In [40]:
def _reduce(fn, sequence):
    prod = sequence[0]
    for x in sequence[1:]:
        prod = fn(prod, x)
    return prod

In [41]:
_reduce(lambda a,b: a*b, l)

21600

In [44]:
_reduce(lambda a,b: a*b, range(1,5))

24

In [45]:
reduce(lambda a,b: a*b, range(1,5))

24

In [46]:
def fact(n):
    return 1 if n < 2 else n * fact(n-1)

In [48]:
fact(4)

24

In [49]:
1*2*3*4

24

In [50]:
def _reduce(fn, sequence, initial):
    result = initial
    for x in sequence:
        result = fn(result, x)
    return result

24

In [51]:
_reduce(lambda a,b: a*b, range(1,5), 1)

24