In [2]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

In [3]:
from collections import namedtuple

In [4]:
Point2D = namedtuple('Point2D', ['x', 'y'])

In [5]:
pt1 = Point2D(10, 20)

In [6]:
pt1

Point2D(x=10, y=20)

In [7]:
pt3d_1 = Point3D(10, 20, 30)

In [8]:
pt3d_1

In [9]:
Pt2D = namedtuple('Point2D', ('x', 'y'))

In [10]:
pt2 = Pt2D(10, 20)

In [11]:
pt2

Point2D(x=10, y=20)

In [12]:
Pt3D = Point3D

In [13]:
Pt3D

__main__.Point3D

In [14]:
p = Pt3D(10, 20, 30)

In [15]:
p.x

10

In [16]:
p.y

20

In [17]:
p.z

30

In [18]:
p = Point2D(x=10, y =20)

In [21]:
isinstance(p, tuple)

True

In [22]:
p = Point3D(10, 20, 30)

In [23]:
isinstance(p, tuple)

False

In [24]:
a = (10, 20)
b = (10, 20)

In [25]:
a is b

False

In [26]:
a == b

True

In [27]:
pt1 = Point2D(10, 20)
pt2 = Point2D(10, 20)

In [28]:
pt1 is pt2

False

In [29]:
pt1 == pt2

True

In [30]:
pt1 = Point3D(10, 20, 30)
pt2 = Point3D(10, 20, 30)

In [31]:
pt1 is pt2

False

In [32]:
pt1 == pt2

False

In [41]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z        

    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y}, z={self.z})'

    def __eq__(self, other):
        if isinstance(other, Point3D):
            return self.x == other.x and self.y == other.y and self.z == other.z
        else:
            return False

In [42]:
pt1 = Point3D(10, 20, 30)
pt2 = Point3D(10, 20, 30)

In [43]:
pt1

Point3D(x=10, y=20, z=30)

In [44]:
pt1 is pt2

False

In [45]:
pt1 == pt2

True

In [46]:
pt1 = Point2D(10, 20)
pt2 = Point3D(10, 20, 30)

In [47]:
max(pt1)

20

In [48]:
max(pt2)

TypeError: 'Point3D' object is not iterable

In [49]:
def dot_product_3d(a, b):
    return a.x * b.x + a.y * b.y + a.z * b.z

In [50]:
pt1 = Point3D(1, 2, 3)
pt2 = Point3D(1, 1, 1)

In [51]:
dot_product_3d(pt1, pt2)

6

In [52]:
a = (1, 2)
b = (1, 1)

In [53]:
list(zip(a, b))

[(1, 1), (2, 1)]

In [54]:
sum([e[0] * e[1] for e in zip(a, b)])

3

In [55]:
def dot_product(a,b):
    return sum([e[0] * e[1] for e in zip(a, b)])

In [56]:
dot_product(a, b)

3

In [57]:
pt1 = Point2D(1, 2)
pt2 = Point2D(1, 1)

In [58]:
dot_product(pt1, pt2)

3

In [59]:
Vector3D = namedtuple('Vector3D', 'x y z')

In [60]:
v1 = Vector3D(1, 2, 3)
v2 = Vector3D(1, 1, 1)

In [61]:
v1

Vector3D(x=1, y=2, z=3)

In [62]:
v2

Vector3D(x=1, y=1, z=1)

In [63]:
dot_product(v1, v2)

6

In [64]:
v1

Vector3D(x=1, y=2, z=3)

In [65]:
tuple(v1)

(1, 2, 3)

In [66]:
v1.x

1

In [67]:
v1.y

2

In [68]:
Circle = namedtuple('Circle', 'center_x center_y    radius')

In [69]:
c = Circle(0, 0, 10)

In [70]:
c

Circle(center_x=0, center_y=0, radius=10)

In [71]:
c.radius

10

In [72]:
Stock = namedtuple('Stock', '''symbol 
                            year month day 
                            open high low close''')

In [73]:
djia = Stock('DJIA', 2018, 1, 25, 26313, 26458, 26260, 26393)

In [74]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [75]:
djia.close

26393

In [76]:
for item in djia:
    print(item)

DJIA
2018
1
25
26313
26458
26260
26393

In [77]:
p = Point2D(10, 20)

In [79]:
x, y = p

In [80]:
x

10

In [81]:
y

20

In [82]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [83]:
symbol, year, month, day, *_, close = djia

In [84]:
symbol

'DJIA'

In [85]:
year

2018

In [86]:
month

1

In [88]:
_

[26313, 26458, 26260]

In [89]:
Person = namedtuple('Person' 'name age _ssn')

TypeError: namedtuple() missing 1 required positional argument: 'field_names'

In [91]:
Person = namedtuple('Person', 'name age _ssn', rename=True)

In [92]:
p = Person('Nick', 45, 2344)

In [93]:
p

Person(name='Nick', age=45, _2=2344)

In [94]:
Point2D._fields

('x', 'y')

In [95]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [98]:
Stock._source

AttributeError: type object 'Stock' has no attribute '_source'

In [99]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [101]:
djia._asdict()

{'symbol': 'DJIA',
 'year': 2018,
 'month': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

In [102]:
d = djia._asdict()

In [103]:
d

{'symbol': 'DJIA',
 'year': 2018,
 'month': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

In [104]:
d.get('symbol')

'DJIA'

In [108]:
type(djia._asdict())

dict

In [110]:
dict(djia._asdict())

{'symbol': 'DJIA',
 'year': 2018,
 'month': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}