In [1]:
class Person:
    def __init__(self, name):
        self.name = name

    def __repr__(self):
        return f'Person(name={self.name})'

In [2]:
p1 = Person('John')
p2 = Person('Jane')
p3 = Person('Jim')

In [4]:
p1

Person(name=John)

In [5]:
hash(p1)

274740621

In [6]:
hash(p2)

274740441

In [7]:
hash(p3)

274740817

In [8]:
s1 = {p1, p2, p3}

In [9]:
s1

{Person(name=Jane), Person(name=Jim), Person(name=John)}

In [10]:
s2 = s1.copy()

In [11]:
s2

{Person(name=Jane), Person(name=Jim), Person(name=John)}

In [12]:
s1 is s2

False

In [13]:
p1 in s1

True

In [14]:
p2 in s2

True

In [15]:
p1 in s2

True

In [16]:
s3 = {*s1}

In [17]:
s3

{Person(name=Jane), Person(name=Jim), Person(name=John)}

In [18]:
s1 is s3

False

In [19]:
s1 == s3

True

In [20]:
s1, s2, s3

({Person(name=Jane), Person(name=Jim), Person(name=John)},
 {Person(name=Jane), Person(name=Jim), Person(name=John)},
 {Person(name=Jane), Person(name=Jim), Person(name=John)})

In [21]:
p1.name = 'Johny'

In [22]:
s1, s2, s3

({Person(name=Jane), Person(name=Jim), Person(name=Johny)},
 {Person(name=Jane), Person(name=Jim), Person(name=Johny)},
 {Person(name=Jane), Person(name=Jim), Person(name=Johny)})

In [24]:
hash(p1)

274740621

In [25]:
s4 = set(s1)

In [26]:
s1 == s4

True

In [27]:
s1 is s4

False

In [28]:
from copy import deepcopy

In [29]:
s5 = deepcopy(s1)

In [30]:
s5

{Person(name=Jane), Person(name=Jim), Person(name=Johny)}

In [31]:
s1 is s5

False

In [32]:
s1 == s5

False

In [33]:
p1 in s5

False

In [34]:
p1 in s1

True

In [35]:
[(o, id(o)) for o in s1]

[(Person(name=Jim), 4395853072),
 (Person(name=Jane), 4395847056),
 (Person(name=Johny), 4395849936)]

In [36]:
[(o, id(o)) for o in s5]

[(Person(name=Johny), 4395902352),
 (Person(name=Jim), 4395942416),
 (Person(name=Jane), 4395692496)]

In [37]:
[(o, id(o)) for o in s2]

[(Person(name=Jim), 4395853072),
 (Person(name=Jane), 4395847056),
 (Person(name=Johny), 4395849936)]

In [38]:
p2.name = 'Janey'

In [39]:
s1

{Person(name=Janey), Person(name=Jim), Person(name=Johny)}

In [40]:
s5

{Person(name=Jane), Person(name=Jim), Person(name=Johny)}