In [1]:
s1 = {1,2,3}
s2 = {2,3,4}

In [2]:
print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 4582719072
{2, 3, 4} 4582717280

In [3]:
s1 = s1 & s2

In [6]:
print(s1, id(s1))
print(s2, id(s2))

{2, 3} 4582718400
{2, 3, 4} 4582717280

In [5]:
globals()['s1']

{2, 3}

In [7]:
s1 = {1,2,3}
s2 = {2,3,4}

In [8]:
print(s1, id(s1))

{1, 2, 3} 4583263360

In [9]:
s1 |= s2

In [10]:
print(s1, id(s1))

{1, 2, 3, 4} 4583263360

In [13]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1, id(s1))
s1.update(s2)
print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 4582717280
{1, 2, 3, 4} 4582717280
{2, 3, 4} 4583262688

In [14]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1, id(s1))
s1 &= s2
print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 4583263808
{2, 3} 4583263808
{2, 3, 4} 4582717280

In [15]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1, id(s1))
s1.intersection_update(s2)
print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 4583262912
{2, 3} 4583262912
{2, 3, 4} 4583263360

In [16]:
s1 = {1,2,3,4}
s2 = {2,3}
print(s1, id(s1))
s1 -= s2
print(s1, id(s1))

{1, 2, 3, 4} 4583265152
{1, 4} 4583265152

In [17]:
s1 = {1,2,3,4}
s2 = {2,3}
print(s1, id(s1))
s1.difference_update(s2)
print(s1, id(s1))

{1, 2, 3, 4} 4582717280
{1, 4} 4582717280

In [18]:
s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}

result = (s1-s2) - s3
print(result)

s1 -= s2 - s3
print(s1)

{1}
{1, 3, 4}

In [21]:
s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}

result = (s1-s2) - s3
print(result)

s1 -= s2 - s3
print(s1)

s1 = {1,2,3,4}
s2 = {2,3}
s3 = {3,4}

s1.difference_update(s2, s3)
print(s1)

{1}
{1, 3, 4}
{1}

In [22]:
s1 = {1,2,3,4, 5}
s2 = {4,5,6,7}
print(s1, id(s1))
s1 ^= s2
print(s1, id(s1))

{1, 2, 3, 4, 5} 4583263584
{1, 2, 3, 6, 7} 4583263584

In [23]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {5,6,7}

print(id(s1))
s1 |= s2 | s3
print(s1, id(s1))

4583267168
{1, 2, 3, 4, 5, 6, 7} 4583267168

In [26]:
s1 = {1,2,3}
s1.update([3,4,5], [6,7,8], 'abc')
print(s1, id(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 'c', 'a', 'b'} 4584072448

In [27]:
def combine(string, target):
    target.update(string.split(' '))

In [28]:
def cleanup(combined):
    words = {'the', 'and', 'or', 'is', 'in', 'to', 'of', 'at', 'by', 'with', 'as', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'as', 'until', 'while', 'as', 'until', 'while'}
    combined -= words

In [29]:
result = set()
combine('lumberjacks sleep all night', result)
combine('the ministry of silly walks', result)
combine('this parrot is a late parrot', result)
cleanup(result)
print(result)

{'silly', 'this', 'ministry', 'lumberjacks', 'all', 'a', 'parrot', 'night', 'sleep', 'late', 'walks'}

In [30]:
def gen_read_data():
    yield ['Paris', 'France', 'Beijing', 'New York', 'London', 'Tokyo', 'Berlin', 'Madrid', 'Rome', 'Moscow']
    yield ['Hyderabad', 'India', 'Islamabad', 'Pakistan', 'Lahore', 'Karachi', 'Kabul', 'Afghanistan', 'Peshawar', 'Kandahar']
    yield ['Lima', 'Peru', 'Montevideo', 'Uruguay', 'Santiago', 'Chile', 'Buenos Aires', 'Argentina', 'Bogota', 'Colombia']

In [31]:
data = gen_read_data()
next(data)

['Paris',
 'France',
 'Beijing',
 'New York',
 'London',
 'Tokyo',
 'Berlin',
 'Madrid',
 'Rome',
 'Moscow']

In [32]:
next(data)

['Hyderabad',
 'India',
 'Islamabad',
 'Pakistan',
 'Lahore',
 'Karachi',
 'Kabul',
 'Afghanistan',
 'Peshawar',
 'Kandahar']

In [33]:
next(data)

['Lima',
 'Peru',
 'Montevideo',
 'Uruguay',
 'Santiago',
 'Chile',
 'Buenos Aires',
 'Argentina',
 'Bogota',
 'Colombia']

In [34]:
def filter_incoming(*cities, data_set):
    data_set.difference_update(cities)

In [35]:
result = set()
data = gen_read_data()
for page in data:
    result.update(page)
    filter_incoming('Paris', 'London', 'Madrid', 'Tokyo', data_set=result)
print(result)

{'Chile', 'Peru', 'Pakistan', 'Berlin', 'Moscow', 'India', 'Hyderabad', 'Karachi', 'Beijing', 'Islamabad', 'Buenos Aires', 'Lima', 'Uruguay', 'Lahore', 'Argentina', 'New York', 'Kandahar', 'Colombia', 'Kabul', 'Santiago', 'Peshawar', 'Afghanistan', 'Montevideo', 'Rome', 'France', 'Bogota'}