In [1]:
l1 = [1, 2, 3, 4]
l2 = [5, 6]
print(id(l1), l1)
print(id(l2), l2)

4402448768 [1, 2, 3, 4]
4402449600 [5, 6]

In [2]:
l1 = l1 + l2
print(id(l1), l1)

4402456640 [1, 2, 3, 4, 5, 6]

In [3]:
l1 = [1, 2, 3, 4]
l2 = [5, 6]
print(id(l1), l1)
print(id(l2), l2)

4402466368 [1, 2, 3, 4]
4402456896 [5, 6]

In [4]:
l1 += l2
print(id(l1), l1)

4402466368 [1, 2, 3, 4, 5, 6]

In [5]:
l1 = [1, 2, 3, 4]
t1 = (5, 6)
print(id(l1), l1)
print(id(t1), t1)

4402354304 [1, 2, 3, 4]
4401774528 (5, 6)

In [6]:
l1 += t1

In [7]:
l1

[1, 2, 3, 4, 5, 6]

In [8]:
print(id(l1), l1)

4402354304 [1, 2, 3, 4, 5, 6]

In [9]:
l1 += range(7, 11)

In [10]:
print(id(l1), l1)

4402354304 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
l1 += {100, 'X', 'a'}

In [13]:
print(id(l1), l1)

4402354304 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'X', 100, 'a']

In [14]:
t1 = (1, 2, 3, 4)
t2 = (5, 6)
print(id(t1), t1)
print(id(t2), t2)

4402790944 (1, 2, 3, 4)
4401774528 (5, 6)

In [15]:
t1 = t1 + t2

In [16]:
print(id(t1), t1)

4382759648 (1, 2, 3, 4, 5, 6)

In [17]:
t1 = (1, 2, 3, 4)
t2 = (5, 6)
print(id(t1), t1)
print(id(t2), t2)

4402623360 (1, 2, 3, 4)
4402728256 (5, 6)

In [18]:
t1 += t2
print(id(t1), t1)

4382759648 (1, 2, 3, 4, 5, 6)

In [19]:
l1 = [1, 2, 3, 4]
print(id(l1), l1)

4402759744 [1, 2, 3, 4]

In [20]:
l1 = l1 * 2
print(id(l1), l1)

4402216640 [1, 2, 3, 4, 1, 2, 3, 4]

In [21]:
l1 = [1, 2, 3, 4]
print(id(l1), l1)
l1 *= 2
print(id(l1), l1)

4402373568 [1, 2, 3, 4]
4402373568 [1, 2, 3, 4, 1, 2, 3, 4]

In [22]:
t1 = (1, 2, 3)
print(id(t1), t1)
t1 = t1 * 2
print(id(t1), t1)
t1 = (1, 2, 3)
print(id(t1), t1)
t1 *= 2
print(id(t1), t1)

4402887296 (1, 2, 3)
4382759648 (1, 2, 3, 1, 2, 3)
4402659008 (1, 2, 3)
4382759648 (1, 2, 3, 1, 2, 3)