In [1]:
squares = []
for i in range(1, 101):
    squares.append(i**2)

squares[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
squares = [i**2 for i in range(1, 101)]
squares[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
squares = []
for i in range(1, 101):
    if i % 2 == 0:
        squares.append(i**2)

squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [5]:
squares = [i**2 for i in range(1, 101) if i % 2 == 0]
squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [6]:
squares = [i**2
           for i in range(1, 101)
           if i % 2 == 0]
squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [7]:
compiled_code = compile('[i**2 for i in range(1, 101) if i % 2 == 0]', filename='string', mode='eval')

In [8]:
compiled_code

In [9]:
import dis
dis.dis(compiled_code)

  0           0 RESUME                   0

  1           2 LOAD_CONST               0 (<code object <listcomp> at 0x10848a6a0, file "string", line 1>)
              4 MAKE_FUNCTION            0
              6 PUSH_NULL
              8 LOAD_NAME                0 (range)
             10 LOAD_CONST               1 (1)
             12 LOAD_CONST               2 (101)
             14 PRECALL                  2
             18 CALL                     2
             28 GET_ITER
             30 PRECALL                  0
             34 CALL                     0
             44 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x10848a6a0, file "string", line 1>:
  1           0 RESUME                   0
              2 BUILD_LIST               0
              4 LOAD_FAST                0 (.0)
        >>    6 FOR_ITER                16 (to 40)
              8 STORE_FAST               1 (i)
             10 LOAD_FAST                1 (i)
             12 LOAD_CONST               0 (2)
             14 BINARY_OP                6 (%)
             18 LOAD_CONST               1 (0)
             20 COMPARE_OP               2 (==)
             26 POP_JUMP_BACKWARD_IF_FALSE    11 (to 6)
             28 LOAD_FAST                1 (i)
             30 LOAD_CONST               0 (2)
             32 BINARY_OP                8 (**)
             36 LIST_APPEND              2
             38 JUMP_BACKWARD           17 (to 6)
        >>   40 RETURN_VALUE

In [10]:
table = []
for i in range(1, 11):
    row = []
    for j in range(1, 11):
        row.append(i*j)
    table.append(row)

table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [13]:
table2 = [
    [i*j for j in range(1, 11)] for i in range(1, 11)
]

In [14]:
table2

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [15]:
from math import factorial

In [16]:
def combo(n, k):
    return factorial(n) // (factorial(k) * factorial(n-k))

In [17]:
combo(1, 1)

1

In [22]:
size = 8

In [23]:
pascal = [
    [combo(n, k) for k in range(n+1)] for n in range(size + 1)
]
pascal

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1]]

In [24]:
l1 = ['a', 'b', 'c']
l2 = ['x', 'y', 'z']

In [26]:
result = []
for i in l1:
    for j in l2:
        result.append(i + j)
result

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [25]:
[i + j for i in l1 for j in l2]

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [29]:
l1 = ['a', 'b', 'c']
l2 = ['b', 'c', 'd']

result = []
for i in l1:
    for j in l2:
        if i != j:
            result.append((i+j))
result

['ab', 'ac', 'ad', 'bc', 'bd', 'cb', 'cd']

In [30]:
[(i+j) for i in l1 for j in l2 if i != j]

['ab', 'ac', 'ad', 'bc', 'bd', 'cb', 'cd']

In [31]:
result = [(i+j) for i in l1 if i != 'a' for j in l2 if j != 'b']
result

['bc', 'bd', 'cc', 'cd']

In [32]:
result = [(i+j) for i in l1 if i != 'a' if j != 'b' for j in l2 ]
result

UnboundLocalError: cannot access local variable 'j' where it is not associated with a value

In [33]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l2 = ['a', 'b', 'c', 'd']

In [34]:
list(zip(l1, l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [35]:
list(enumerate(l1))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [36]:
list(enumerate(l2))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [39]:
result = []
for index_1, item_1 in enumerate(l1):
    for index_2, item_2 in enumerate(l2):
        if index_1 == index_2:
            result.append((item_1, item_2))

In [40]:
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [41]:
result = [(item_1, item_2) for index_1, item_1 in enumerate(l1) for index_2, item_2 in enumerate(l2) if index_1 == index_2]
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [42]:
l = [1, 2, 3]

In [43]:
sum(l)

6

In [44]:
dot = 0
v1 = [1, 2, 3]
v2 = [4, 5, 6]
for i in range(len(v1)):
    dot += v1[i] * v2[i]
dot

32

In [45]:
result = sum(v1[i] * v2[i] for i in range(len(v1)))
result

32

In [47]:
list(zip(v1, v2))

[(1, 4), (2, 5), (3, 6)]

In [50]:
sum([i*j for i, j in zip(v1, v2)])

32

In [51]:
l = []
for number in range(5):
    l.append(number**2)

In [52]:
number

4

In [53]:
if 'number' in globals():
    del number

In [54]:
number

NameError: name 'number' is not defined

In [55]:
l = [number**2 for number in range(5)]

In [56]:
l

[0, 1, 4, 9, 16]

In [57]:
number

NameError: name 'number' is not defined

In [58]:
'number' in globals()

False

In [59]:
number = 100

In [60]:
l = []
for number in range(5):
    l.append(number**2)

In [61]:
number

4

In [62]:
number = 100
l = [number**2 for number in range(5)]
l

[0, 1, 4, 9, 16]

In [63]:
number

100

In [64]:
[number * i for i in range(5)]

[0, 100, 200, 300, 400]

In [65]:
number

100

In [66]:
fn_0 = lambda x: x**0
fn_1 = lambda x: x**1
fn_2 = lambda x: x**2
fn_3 = lambda x: x**3

In [69]:
funcs = [lambda x: x**0, lambda x: x**1, lambda x: x**2, lambda x: x**3]

In [70]:
for i in range(4):
    print(funcs[i](10))

1
10
100
1000

In [78]:
if 'i' in globals():
    del i

In [79]:
funcs = []
for i in range(6):
    funcs.append(lambda x: x**i)

funcs

[<function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>]

In [80]:
funcs[0](10)

100000

In [81]:
def funcs():
    fn = []
    for i in range(6):
        fn.append(lambda x: x**i)
    return fn

In [82]:
f = funcs()
f

[<function __main__.funcs.<locals>.<lambda>(x)>,
 <function __main__.funcs.<locals>.<lambda>(x)>,
 <function __main__.funcs.<locals>.<lambda>(x)>,
 <function __main__.funcs.<locals>.<lambda>(x)>,
 <function __main__.funcs.<locals>.<lambda>(x)>,
 <function __main__.funcs.<locals>.<lambda>(x)>]

In [83]:
f[0](10)

100000

In [84]:
funcs = [lambda x: x**i for i in range(6)]
funcs

[<function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>]

In [85]:
funcs[0](10)

100000

In [86]:
from datetime import datetime

In [87]:
datetime.now()

datetime.datetime(2024, 10, 21, 15, 7, 21, 986783)

In [88]:
def log(msg, current_dt=datetime.now()):
    print(msg, current_dt)

In [89]:
log('abc')

abc 2024-10-21 15:07:55.921884

In [90]:
log('hello')

hello 2024-10-21 15:07:55.921884

In [91]:
log('a')

a 2024-10-21 15:07:55.921884

In [92]:
funcs = [lambda x, p=i: x**p for i in range(6)]
funcs

[<function __main__.<listcomp>.<lambda>(x, p=0)>,
 <function __main__.<listcomp>.<lambda>(x, p=1)>,
 <function __main__.<listcomp>.<lambda>(x, p=2)>,
 <function __main__.<listcomp>.<lambda>(x, p=3)>,
 <function __main__.<listcomp>.<lambda>(x, p=4)>,
 <function __main__.<listcomp>.<lambda>(x, p=5)>]

In [93]:
funcs[0](10)

1

In [94]:
funcs[1](10)

10

In [95]:
funcs[2](10)

100